NUXT_PUBLIC_INTERACT_WEB_URL = https://lawn.hcfl.gov
NUXT_PUBLIC_INTERACT_OPERATING_USER_ID = 341

NUXT_INTERACT_API_ENDPOINT = https://us-lb-...
NUXT_INTERACT_TENANT_GUID = xxx-xxxx-xxx-xxxx
NUXT_INTERACT_ADMIN_API_KEY = xxxxxxx
NUXT_INTERACT_ADMIN_API_SECRET = xxxxxx
 
